@page "/"
@using RizSoft.CleanArchitecture.BlazorServer.Components

<PageTitle>Index</PageTitle>



<h1 class="display-4">A sample of Clean Architecture</h1>


<h2 class="my-3">Northwind's Employee List by Country</h2>

    @if (Employees != null)
{

    <div class="text-center">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Country</th>
            </tr>
            @foreach (var emp in Employees)
            {
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Country</td>
                </tr>
            }
        </table>
    </div>
    <input type="text" @bind-value="@Country" />
    <button class="btn btn-primary" @onclick="FilterEmployees">Filter</button>

    <hr />
    <h4>Simulates several components that make concurrent access to dbcontext to test IDbContextFactory</h4>
    <div class="row">
        @foreach (var emp in Employees)
        {
            <div class="col-md-3 m-3">
                <EmployeeCard EmployeeId="@emp.EmployeeId"></EmployeeCard>
            </div>
        }
    </div>
}
else
{
    <p>Loading...</p>
}



